In [105]:
import pandas as pd
import numpy as np

artifacts = pd.read_csv('../../dataset/artifacts_clean.csv')
artists = pd.read_csv('../../dataset/artists.csv')
departments = pd.read_csv('../../dataset/departments.csv')
locations = pd.read_csv('../../dataset/location_clean.csv')
metadata = pd.read_csv('../../dataset/metadata.csv')

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/1649591387.py:4: DtypeWarning: Columns (0,1,3,4,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  artifacts = pd.read_csv('../../dataset/artifacts_clean.csv')
/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/1649591387.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('../../dataset/metadata.csv')

In [106]:
artifacts.head(3)

,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,title,...,medium,dimensions,measurements,creditLine,classification,isTimelineWork,GalleryNumber,department,constituentID,location_id
0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,Acorn Clock,...,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Paul Moore, 1970",NaN,False,774.0,The American Wing,1082.0,0
1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral George Rodney,...,"Earthenware, basalt",H. 12 in. (30.5 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1
2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral Samuel Hood,...,"Earthenware, basalt",H. 12 3/8 in. (31.4 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1

## Convert the data types

### Artworks
     'isHighlight':'bool',
     'accessionNumber':'string',
     'accessionYear':'string', ("" or YYYY)
     'isPublicDomain':'bool',
     'primaryImage':'string',
     'primaryImageSmall':'string',
     'additionalImages': 'object',
     'objectName':'string',
     'title':'string',
     'culture':'string',
     'period':'string',
     'dynasty':'string',
     'reign':'string',
     'portfolio':'string',
     'objectBeginDate':'datetime',
     'objectEndDate':'datetime',
     'medium':'string',
     'dimensions':'string',
     'measurements':'object',
     'creditLine':'string',
     'classification':'string',
     'isTimelineWork':'bool',
     'galleryNumber':'string',
     'department':'string',
     'constituentID':'int',
     'locationID':'int'

In [107]:
artifacts.dtypes

objectID              object
isHighlight           object
accessionNumber       object
accessionYear         object
isPublicDomain        object
primaryImage          object
primaryImageSmall     object
additionalImages      object
objectName            object
title                 object
culture               object
period                object
dynasty               object
reign                 object
portfolio             object
objectDate            object
objectBeginDate      float64
objectEndDate        float64
medium                object
dimensions            object
measurements          object
creditLine            object
classification        object
isTimelineWork        object
GalleryNumber         object
department            object
constituentID        float64
location_id            int64
dtype: object

In [108]:
# rename the GalleryNumber column to galleryNumber
# artifacts.rename(columns={'GalleryNumber':'galleryNumber'}, inplace=True)
# artifacts.rename(columns={'location_id':'locationID'}, inplace=True)

In [109]:
import re

In [110]:
tmp_df = artifacts

In [111]:
tmp_df.shape

(194597, 28)

In [112]:
tmp_df.head(3)

,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,title,...,medium,dimensions,measurements,creditLine,classification,isTimelineWork,galleryNumber,department,constituentID,locationID
0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,Acorn Clock,...,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Paul Moore, 1970",NaN,False,774.0,The American Wing,1082.0,0
1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral George Rodney,...,"Earthenware, basalt",H. 12 in. (30.5 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1
2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral Samuel Hood,...,"Earthenware, basalt",H. 12 3/8 in. (31.4 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1

In [113]:
tmp_df['objectID'] = tmp_df['objectID'].astype('string')

In [114]:
tmp_df = tmp_df[tmp_df['objectID'].apply(lambda x: re.search(r'[1-9][0-9]*', x) is not None if True else False)]

In [115]:
tmp_df.shape

(194591, 28)

In [116]:
tmp_df.head(10)

,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,title,...,medium,dimensions,measurements,creditLine,classification,isTimelineWork,galleryNumber,department,constituentID,locationID
0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,Acorn Clock,...,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Paul Moore, 1970",NaN,False,774.0,The American Wing,1082.0,0
1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral George Rodney,...,"Earthenware, basalt",H. 12 in. (30.5 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1
2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral Samuel Hood,...,"Earthenware, basalt",H. 12 3/8 in. (31.4 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0,1
3,39,False,18.11.10,1918.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Advertisement,Advertisement for Norwich Stone Ware Factory,...,Paper,11 x 9 in. (27.9 x 22.9 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Rogers Fund, 1918",NaN,False,NaN,The American Wing,NaN,3
4,40,False,46.140.143,1946.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Ale glass,Ale Glass,...,Pressed glass,H. 6 9/16 in. (16.7 cm); Diam. 3 in. (7.6 cm),"[{'elementName': 'Other', 'elementDescription'...","Gift of Mrs. Emily Winthrop Miles, 1946",NaN,False,774.0,The American Wing,1087.0,4
5,41,False,46.140.864,1946.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Ale glass,Ale Glass,...,Pressed glass,H. 6 1/4 in. (15.9 cm); Diam. 2 15/16 in. (7.5...,"[{'elementName': 'Other', 'elementDescription'...","Gift of Mrs. Emily Winthrop Miles, 1946",NaN,False,774.0,The American Wing,162584.0,5
6,42,False,60.58.1,1960.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Andiron,Andiron,...,"Brass, iron",30 7/8 x 25 x 13 7/8 in. (78.4 x 63.5 x 35.2 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Sansbury-Mills Fund, 1960",NaN,False,724.0,The American Wing,NaN,6
7,43,False,60.58.2,1960.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Andiron,Andiron,...,"Brass, iron",30 7/8 x 25 x 13 7/8 in. (78.4 x 63.5 x 35.2 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Sansbury-Mills Fund, 1960",NaN,False,724.0,The American Wing,NaN,6
8,44,False,10.125.444a,1910.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Andiron,Andiron,...,Brass,H. 27 in. (68.6 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Russell Sage, 1909",NaN,False,774.0,The American Wing,NaN,8
9,45,False,10.125.444b,1910.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Andiron,Andiron,...,Brass,H. 27 in. (68.6 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Russell Sage, 1909",NaN,False,774.0,The American Wing,NaN,8

In [117]:
tmp_df['objectID'] = tmp_df['objectID'].astype('int')

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/1637085298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_df['objectID'] = tmp_df['objectID'].astype('int')

In [118]:
tmp_df = tmp_df.astype({
             'isHighlight':'bool',
             'accessionNumber':'string',
             'accessionYear':'string',
             'isPublicDomain':'bool',
             'primaryImage':'string',
             'primaryImageSmall':'string',
             'additionalImages': 'object',
             'objectName':'string',
             'title':'string',
             'culture':'string',
             'period':'string',
             'dynasty':'string',
             'reign':'string',
             'portfolio':'string',
             'objectBeginDate':'float',
             'objectEndDate':'float',
             'medium':'string',
             'dimensions':'string',
             'measurements':'object',
             'creditLine':'string',
             'classification':'string',
             'isTimelineWork':'bool',
             'galleryNumber':'string',
             'department':'string',
             'constituentID':'float',
             'locationID':'int'
                         })

In [119]:
# change the data type of float into int
tmp_df['objectBeginDate'] = tmp_df['objectBeginDate'].astype('Int64')
tmp_df['objectEndDate'] = tmp_df['objectEndDate'].astype('Int64')
tmp_df['constituentID'] = tmp_df['constituentID'].astype('Int64')

In [120]:
tmp2_df = tmp_df

In [133]:
def clean_year_for_df(df, colName):
    df[colName] = df[colName].fillna("")
    df[colName] = df[colName].apply(clean_year)
    return df

In [121]:
# change the clean the data for accessionYear, objectBeginDate, objectEndDate
def clean_year(x):
    if x == "": return x
    if re.search(r'^([1-9][0-9]{1,3}?\.0)', x) is not None:
        try:
            floatVal = float(x)
            intVal = int(floatVal)
            return intVal
        except:
            print(x)
            return ""
    elif re.search(r'([1-9][0-9]{1,3}?-[0-9]{1,2}?-[0-9]{1,2})', x) is not None:
        res = re.search(r'([1-9][0-9]{1,3}?-[0-9]{1,2}?-[0-9]{1,2})', x)
        try:
            tmp = int(res.group(1).split('-')[0])
            return tmp
        except:
            print(res.group(1).split('-')[0])
            return ""

In [122]:
tmp2_df['accessionYear'] = tmp2_df['accessionYear'].fillna("")

In [123]:
tmp2_df['accessionYear'] = tmp2_df['accessionYear'].apply(clean_year)

In [124]:
tmp2_df['accessionYear'].head(10)

0    1970
1    1938
2    1938
3    1918
4    1946
5    1946
6    1960
7    1960
8    1910
9    1910
Name: accessionYear, dtype: object

In [126]:
tmp2_df.dtypes

objectID              int64
isHighlight            bool
accessionNumber      string
accessionYear        object
isPublicDomain         bool
primaryImage         string
primaryImageSmall    string
additionalImages     object
objectName           string
title                string
culture              string
period               string
dynasty              string
reign                string
portfolio            string
objectDate           object
objectBeginDate       Int64
objectEndDate         Int64
medium               string
dimensions           string
measurements         object
creditLine           string
classification       string
isTimelineWork         bool
galleryNumber        string
department           string
constituentID         Int64
locationID            int64
dtype: object

In [154]:
tmp2_df['objectBeginDate'] = tmp2_df['objectBeginDate'].astype('string')
tmp2_df['objectEndDate'] = tmp2_df['objectEndDate'].astype('string')
tmp2_df['objectBeginDate'].fillna("", inplace=True)
tmp2_df['objectEndDate'].fillna("", inplace=True)

In [158]:
tmp2_df['objectDate'] = tmp2_df['objectDate'].astype('string')
tmp2_df['objectDate'].fillna("", inplace=True)

In [159]:
tmp2_df.dtypes

objectID              int64
isHighlight            bool
accessionNumber      string
accessionYear        object
isPublicDomain         bool
primaryImage         string
primaryImageSmall    string
additionalImages     object
objectName           string
title                string
culture              string
period               string
dynasty              string
reign                string
portfolio            string
objectDate           string
objectBeginDate      string
objectEndDate        string
medium               string
dimensions           string
measurements         object
creditLine           string
classification       string
isTimelineWork         bool
galleryNumber        string
department           string
constituentID         Int64
locationID            int64
dtype: object

In [160]:
tmp2_df.shape

(194591, 28)

In [155]:
tmp2_df.shape

(194591, 28)

In [161]:
tmp2_df.to_csv('../../dataset/artifacts_clean2.csv', index=False)

### Artists
     'artistRole'            'string'
    'artistPrefix'           'string'
    'artistDisplayName'      'string'
    'artistDisplayBio'       'string'
    'artistSuffix'           'string'
    'artistAlphaSort'        'string'
    'artistNationality'      'string'
    'artistBeginDate'        'int'
    'artistEndDate'          'int'
    'artistGender'           'string' ("female", null)
    'artistWikidata_URL'     'string'
    'artistULAN_URL'         'string'
    'constituentID':         'int'

In [166]:
artists = pd.read_csv('../../dataset/artists.csv')

In [167]:
artists.dtypes

Unnamed: 0              int64
artistRole             object
artistPrefix           object
artistDisplayName      object
artistDisplayBio       object
artistSuffix           object
artistAlphaSort        object
artistNationality      object
artistBeginDate        object
artistEndDate          object
artistGender           object
artistWikidata_URL     object
artistULAN_URL         object
constituentID         float64
dtype: object

In [168]:
artists.dropna(subset=['constituentID'], inplace=True)

In [169]:
artists.drop(columns=['Unnamed: 0'], inplace=True)

In [170]:
artists = artists.astype({
    'artistRole':'string',
    'artistPrefix': 'string',
    'artistDisplayName': 'string',
    'artistDisplayBio': 'string',
    'artistSuffix':      'string',
    'artistAlphaSort': 'string',
    'artistNationality': 'string',
    'artistBeginDate':'string',
    'artistEndDate': 'string',
    'artistGender' : 'string' ,
    'artistWikidata_URL':'string',
    'artistULAN_URL':'string',
    'constituentID': 'int'
})

In [171]:
artists.dtypes

artistRole            string
artistPrefix          string
artistDisplayName     string
artistDisplayBio      string
artistSuffix          string
artistAlphaSort       string
artistNationality     string
artistBeginDate       string
artistEndDate         string
artistGender          string
artistWikidata_URL    string
artistULAN_URL        string
constituentID          int64
dtype: object

In [172]:
tmp_df = artists

In [173]:
tmp_df.fillna({'artistRole': '',
               'artistPrefix': '',
               'artistDisplayName': '',
               'artistDisplayBio': '',
               'artistSuffix': '',
               'artistAlphaSort': '',
               'artistNationality': '',
               'artistBeginDate': '',
               'artistEndDate': '',
               'artistGender': '',
               'artistWikidata_URL': '',
               'artistULAN_URL': ''}, inplace=True)

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/4237416320.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tmp_df.fillna({'artistRole': '',

In [174]:
tmp_df.to_csv('../../dataset/artists_clean2.csv', index=False)

In [175]:
tmp_df['artistRole'].unique()

<StringArray>
[               'Maker',               'Artist',             'Retailer',
             'Designer',         'Manufacturer',   'Former Attribution',
         'Lithographer',                     '',            'Decorator',
            'Architect',               'Author',         'Design House',
          'Manufactory',             'Engraver',             'Enameler',
          'Silversmith',              'Factory',              'Modeler',
              'Founder',            'Goldsmith',     'Factory director',
        'Factory owner',            'Draftsman', 'Artist and publisher',
            'Publisher',               'Sitter',           'Bladesmith',
              'Inlayer',              'Printer',         'Calligrapher',
       'Steel-chiseler',             'Gunsmith',               'Binder',
               'Etcher',           'Swordsmith',          'Sword maker',
              'Armorer',           'Damascener',         'Sword cutler',
          'Barrelsmith',           'Hilt Maker',          'Mount maker',
          'Stock maker',           'Lock maker',       'Fittings maker',
         'Entrepreneur',             'Purveyor',          'Illustrator',
      'Subject of book',  'Artist and engraver', 'Artist and architect',
           'Translator',                 'Poet',          'Illuminator',
            'Dedicatee',               'Editor',   'Photography Studio',
         'Photographer',             'Patentee', 'Restorer/Conservator',
               'Patron',              'Subject',           'Printmaker',
              'Culture',             'Inventor',         'Block cutter',
     'Department Store',           'Woodcutter']
Length: 68, dtype: string

## Location

In [ ]:
locations = pd.read_csv('../../dataset/location_clean.csv')

In [176]:
locations.dtypes

locationID        int64
geographyType    object
city             object
state            object
county           object
country          object
region           object
subregion        object
locale           object
locus            object
excavation       object
river            object
dtype: object

In [177]:
locations = locations.astype({
    'geographyType':'string',
    'city':'string',
    'state':'string',
    'county':'string',
    'country':'string',
    'region':'string',
    'subregion':'string',
    'locale':'string',
    'locus':'string',
    'excavation':'string',
    'river':'string',
})

In [178]:
locations.fillna({'geographyType': '',
               'city': '',
               'state': '',
               'county': '',
               'country': '',
               'region': '',
               'subregion': '',
               'locale': '',
               'locus': '',
               'excavation': '',
               'river': ''}, inplace=True)

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/1349237284.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  locations.fillna({'geographyType': '',

In [179]:
locations.to_csv('../../dataset/location_clean2.csv', index=False)

## Metadata

In [180]:
meta = pd.read_csv('../../dataset/metadata.csv')

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/211069466.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('../../dataset/metadata.csv')

In [181]:
meta.dtypes

objectID                  object
rightsAndReproduction    float64
linkResource             float64
metadataDate              object
repository                object
objectURL                 object
tags                      object
objectWikidata_URL        object
dtype: object

In [182]:
meta.head(4)

,objectID,rightsAndReproduction,linkResource,metadataDate,repository,objectURL,tags,objectWikidata_URL
0,34,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Boats', 'AAT_URL': 'http://vocab.ge...",https://www.wikidata.org/wiki/Q116373732
1,37,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Cannons', 'AAT_URL': 'http://vocab....",https://www.wikidata.org/wiki/Q116373729
2,38,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Cannons', 'AAT_URL': 'http://vocab....",https://www.wikidata.org/wiki/Q116373728
3,39,NaN,NaN,2021-04-06T04:41:04.967Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Advertisements', 'AAT_URL': 'http:/...",NaN

In [186]:
meta.drop(columns=['rightsAndReproduction', 'linkResource'], inplace=True)

In [192]:
meta = meta.dropna(subset=['objectID'])

In [194]:
meta.shape

(194597, 6)

In [197]:
tmp_df = meta

In [199]:
tmp_df['objectID'] = tmp_df['objectID'].astype('string')
tmp_df = tmp_df[tmp_df['objectID'].apply(lambda x: re.search(r'[1-9][0-9]*', x) is not None if True else False)]

In [201]:
tmp_df.shape

(194591, 6)

In [203]:
tmp_df = tmp_df.astype({
    "objectID": 'int',
    "metadataDate": 'string',
    "repository": 'string',
    "objectURL": 'string',
    "objectWikidata_URL": "string"
})
tmp_df.dtypes

objectID               int64
metadataDate          string
repository            string
objectURL             string
tags                  object
objectWikidata_URL    string
dtype: object

In [204]:
tmp_df.fillna({'metadataDate': '',
               'repository': '',
               'objectURL': '',
               'objectWikidata_URL': ''}, inplace=True)

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_39658/3490993018.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tmp_df.fillna({'metadataDate': '',

In [209]:
tmp_df['metadataDate'] = pd.to_datetime(tmp_df['metadataDate'])

In [210]:
tmp_df.to_csv('../../dataset/metadata_clean2.csv', index=False)