In [1]:
import pandas as pd
import numpy as np

In [2]:
artifacts_df = pd.read_csv("../dataset/artifacts.csv")
artists_df = pd.read_csv("../dataset/artists.csv")
departments_df = pd.read_csv("../dataset/departments.csv")
location_df = pd.read_csv("../dataset/location.csv")
metadata_df = pd.read_csv("../dataset/metadata.csv")

/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_6132/242233197.py:1: DtypeWarning: Columns (1,2,4,5,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  artifacts_df = pd.read_csv("../dataset/artifacts.csv")
/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_6132/242233197.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  location_df = pd.read_csv("../dataset/location.csv")
/var/folders/pl/31lr7g6160j6gclk5kfqf6h80000gn/T/ipykernel_6132/242233197.py:5: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata_df = pd.read_csv("../dataset/metadata.csv")

In [3]:
artifacts_df.head(5)

,Unnamed: 0,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,...,objectEndDate,medium,dimensions,measurements,creditLine,classification,isTimelineWork,GalleryNumber,department,constituentID
0,0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,...,1850.0,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Paul Moore, 1970",NaN,False,774.0,The American Wing,1082.0
1,1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,...,1785.0,"Earthenware, basalt",H. 12 in. (30.5 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0
2,2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,...,1785.0,"Earthenware, basalt",H. 12 3/8 in. (31.4 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0
3,3,39,False,18.11.10,1918.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Advertisement,...,1800.0,Paper,11 x 9 in. (27.9 x 22.9 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Rogers Fund, 1918",NaN,False,NaN,The American Wing,NaN
4,4,40,False,46.140.143,1946.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Ale glass,...,1870.0,Pressed glass,H. 6 9/16 in. (16.7 cm); Diam. 3 in. (7.6 cm),"[{'elementName': 'Other', 'elementDescription'...","Gift of Mrs. Emily Winthrop Miles, 1946",NaN,False,774.0,The American Wing,1087.0

In [4]:
artists_df.head(5)

,Unnamed: 0,artistRole,artistPrefix,artistDisplayName,artistDisplayBio,artistSuffix,artistAlphaSort,artistNationality,artistBeginDate,artistEndDate,artistGender,artistWikidata_URL,artistULAN_URL,constituentID
0,0,Maker,NaN,Forestville Manufacturing Company,1835–1853,NaN,Forestville Manufacturing Company,American,1835.0,1853.0,NaN,NaN,NaN,1082.0
1,1,Maker,NaN,Pierre Stephan,"French, active ca. 1770–95",NaN,"Stephan, Pierre",French,1765.0,1795.0,NaN,NaN,http://vocab.getty.edu/page/ulan/500100483,164285.0
2,4,Maker,NaN,New England Glass Company,"American, East Cambridge, Massachusetts, 1818–...",NaN,New England Glass Company,American,1818.0,1888.0,NaN,https://www.wikidata.org/wiki/Q17083157,http://vocab.getty.edu/page/ulan/500356007,1087.0
3,5,Maker,NaN,Union Glass Company,"American, Somerville, Massachusetts",NaN,Union Glass Company,American,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q18356496,(not assigned),162584.0
4,50,Maker,NaN,John Bailey,"American, active New York, 1736–1815",NaN,"Bailey, John",American,1736.0,1815.0,NaN,NaN,http://vocab.getty.edu/page/ulan/500524521,166052.0

In [9]:
artifacts_df.dtypes

Unnamed: 0             int64
objectID              object
isHighlight           object
accessionNumber       object
accessionYear         object
isPublicDomain        object
primaryImage          object
primaryImageSmall     object
additionalImages      object
objectName            object
title                 object
culture               object
period                object
dynasty               object
reign                 object
portfolio             object
objectDate            object
objectBeginDate      float64
objectEndDate        float64
medium                object
dimensions            object
measurements          object
creditLine            object
classification        object
isTimelineWork        object
GalleryNumber         object
department            object
constituentID        float64
dtype: object

In [10]:
artifacts_df.head(5)

,Unnamed: 0,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,...,objectEndDate,medium,dimensions,measurements,creditLine,classification,isTimelineWork,GalleryNumber,department,constituentID
0,0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,...,1850.0,"Mahogany, laminated",24 3/8 x 14 5/8 x 5 1/8 in. (61.9 x 37.1 x 13 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Gift of Mrs. Paul Moore, 1970",NaN,False,774.0,The American Wing,1082.0
1,1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,...,1785.0,"Earthenware, basalt",H. 12 in. (30.5 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0
2,2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,...,1785.0,"Earthenware, basalt",H. 12 3/8 in. (31.4 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Harris Brisbane Dick Fund, 1938",NaN,False,774.0,The American Wing,164285.0
3,3,39,False,18.11.10,1918.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Advertisement,...,1800.0,Paper,11 x 9 in. (27.9 x 22.9 cm),"[{'elementName': 'Overall', 'elementDescriptio...","Rogers Fund, 1918",NaN,False,NaN,The American Wing,NaN
4,4,40,False,46.140.143,1946.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Ale glass,...,1870.0,Pressed glass,H. 6 9/16 in. (16.7 cm); Diam. 3 in. (7.6 cm),"[{'elementName': 'Other', 'elementDescription'...","Gift of Mrs. Emily Winthrop Miles, 1946",NaN,False,774.0,The American Wing,1087.0

In [11]:
artists_df.head(5)

,Unnamed: 0,artistRole,artistPrefix,artistDisplayName,artistDisplayBio,artistSuffix,artistAlphaSort,artistNationality,artistBeginDate,artistEndDate,artistGender,artistWikidata_URL,artistULAN_URL,constituentID
0,0,Maker,NaN,Forestville Manufacturing Company,1835–1853,NaN,Forestville Manufacturing Company,American,1835.0,1853.0,NaN,NaN,NaN,1082.0
1,1,Maker,NaN,Pierre Stephan,"French, active ca. 1770–95",NaN,"Stephan, Pierre",French,1765.0,1795.0,NaN,NaN,http://vocab.getty.edu/page/ulan/500100483,164285.0
2,4,Maker,NaN,New England Glass Company,"American, East Cambridge, Massachusetts, 1818–...",NaN,New England Glass Company,American,1818.0,1888.0,NaN,https://www.wikidata.org/wiki/Q17083157,http://vocab.getty.edu/page/ulan/500356007,1087.0
3,5,Maker,NaN,Union Glass Company,"American, Somerville, Massachusetts",NaN,Union Glass Company,American,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q18356496,(not assigned),162584.0
4,50,Maker,NaN,John Bailey,"American, active New York, 1736–1815",NaN,"Bailey, John",American,1736.0,1815.0,NaN,NaN,http://vocab.getty.edu/page/ulan/500524521,166052.0

In [12]:
departments_df.head(5)

   Unnamed: 0                              department
0           0                       The American Wing
1        5590  European Sculpture and Decorative Arts
2        6608             Modern and Contemporary Art
3        7245                       Costume Institute
4        7312                             Islamic Art

In [16]:
location_df.head(5)

,Unnamed: 0,objectID,geographyType,city,state,county,country,region,subregion,locale,locus,excavation,river
0,0,34,Made in,Bristol,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
1,1,37,Made in,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
2,2,38,Made in,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
3,3,39,Made in,Norwich,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
4,4,40,Made in,East Cambridge,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN

In [19]:
loca_cols = [
    'geographyType',
    'city',
    'state',
    'county',
    'country',
    'region',
    'subregion',
    'locale',
    'locus',
    'excavation',
    'river'
]

In [20]:
tmp_loc_df = location_df[loca_cols].drop_duplicates()

In [21]:
tmp_loc_df.head(5)

,geographyType,city,state,county,country,region,subregion,locale,locus,excavation,river
0,Made in,Bristol,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
1,Made in,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
3,Made in,Norwich,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
4,Made in,East Cambridge,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
5,Made in,Somerville,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN

In [22]:
tmp_loc_df.shape

(4127, 11)

In [23]:
location_df.shape

(194597, 13)

In [25]:
tmp_loc_df = tmp_loc_df.reset_index()

In [26]:
tmp_loc_df.rename(columns={'index': 'location_id'}, inplace=True)
tmp_loc_df.head(5)

,location_id,geographyType,city,state,county,country,region,subregion,locale,locus,excavation,river
0,0,Made in,Bristol,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
1,1,Made in,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
2,3,Made in,Norwich,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
3,4,Made in,East Cambridge,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
4,5,Made in,Somerville,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN

In [29]:
artifacts_df.shape

(194597, 28)

In [34]:
artifacts_df.drop(columns="Unnamed: 0", inplace=True)
location_df.drop(columns="Unnamed: 0", inplace=True)

In [37]:
artifacts_df.shape

(194597, 27)

In [38]:
location_df.shape

(194597, 12)

In [35]:
tmp_artifact_df = artifacts_df.merge(location_df, on='objectID', how='left')

In [40]:
tmp_artifact_df.shape

(194597, 38)

In [36]:
tmp_artifact_df.head(5)

,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,objectName,title,...,city,state,county,country,region,subregion,locale,locus,excavation,river
0,34,False,1970.289.6,1970.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Clock,Acorn Clock,...,Bristol,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
1,37,False,38.165.51,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral George Rodney,...,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
2,38,False,38.165.50,1938.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,['https://images.metmuseum.org/CRDImages/ad/or...,Figure,Figure of Admiral Samuel Hood,...,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
3,39,False,18.11.10,1918.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Advertisement,Advertisement for Norwich Stone Ware Factory,...,Norwich,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
4,40,False,46.140.143,1946.0,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[],Ale glass,Ale Glass,...,East Cambridge,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN

In [42]:
# tmp_loc_df.to_csv("../dataset/location_clean.csv", index=False)

m_artifact_df = tmp_artifact_df.merge(tmp_loc_df, on=loca_cols, how='left')

In [44]:
len(loca_cols)

11

In [45]:
m_artifact_df = m_artifact_df.drop(columns=loca_cols)

In [46]:
m_artifact_df.shape

(194597, 28)

In [48]:
m_artifact_df.to_csv("../dataset/artifacts_clean.csv", index=False)

In [50]:
# tmp_loc_df.rename(columns={'location_id': 'locationID'}, inplace=True)

In [51]:
tmp_loc_df.to_csv("../dataset/location_clean.csv", index=False)

In [52]:
tmp_loc_df.head(5)

,locationID,geographyType,city,state,county,country,region,subregion,locale,locus,excavation,river
0,0,Made in,Bristol,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
1,1,Made in,NaN,NaN,Staffordshire,England,West Midlands,NaN,NaN,NaN,NaN,NaN
2,3,Made in,Norwich,Connecticut,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
3,4,Made in,East Cambridge,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN
4,5,Made in,Somerville,Massachusetts,NaN,United States,New England,NaN,NaN,NaN,NaN,NaN

In [55]:
# metadata_df.drop(columns="Unnamed: 0", inplace=True)
# metadata_df.to_csv("../dataset/metadata.csv", index=False)

In [56]:
metadata_df.head(5)

,objectID,rightsAndReproduction,linkResource,metadataDate,repository,objectURL,tags,objectWikidata_URL
0,34,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Boats', 'AAT_URL': 'http://vocab.ge...",https://www.wikidata.org/wiki/Q116373732
1,37,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Cannons', 'AAT_URL': 'http://vocab....",https://www.wikidata.org/wiki/Q116373729
2,38,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Cannons', 'AAT_URL': 'http://vocab....",https://www.wikidata.org/wiki/Q116373728
3,39,NaN,NaN,2021-04-06T04:41:04.967Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Advertisements', 'AAT_URL': 'http:/...",NaN
4,40,NaN,NaN,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,NaN,https://www.wikidata.org/wiki/Q116373727